body{
    margin: 0;
    display:flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    background:rgb(20,20,20);

}
#calculator{
    width:100%;
    max-width: 380px;
    background-color: rgb(82,79,79);
    border-radius: 25px;
    overflow: hidden;
    padding: 20px;
}

#screen{
    background-color: black;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    text-align: right;
}
#expression{
    min-height: 24px;
    font-size: 1.2rem;
    color:white;
    word-wrap: break-word;
}

#display{
    width: 100px;
    color: white;
    font-size: 3rem;
    text-align: right;
    box-sizing: border-box;
}

#button{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}
button{
    height: 50px;
    border-radius: 20px;
    background-color:rgb(105,104,104);
    color:white;
    font-size: 1.8rem;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
    border: none;
}